<div class="form-actions">
<blockquote class="pull-left">
  <p> usuario: </p>
  <small> <%= current_user.username %> </small>
</blockquote>

<h1 class='pull-right'>Jornadas</h1>
</div>

<table class="table table-striped table-bordered table-condensed" id="tblJornadas">
  <tr>
    <th>Fecha</th>
    <th>Nombre</th>
    <th>Primer apellido</th>
    <th>Segundo apellido</th>
    <th>Nº empleado</th>
    <th>Cliente</th>
    <th>Pilar</th>
    <th>Horas</th>
    <th>Incidencia</th>
    <th></th>

  </tr>




<% @jornadas.each do |jornada| %>
  <tr>
    <td><%= jornada.fecha %></td>
    <td><%= jornada.usuario.nombre %></td>
    <td><%= jornada.usuario.apellido1 %></td>
    <td><%= jornada.usuario.apellido2 %></td>
    <td><%= jornada.usuario.numero_empleado %></td>
    <td><%= jornada.cliente.nombre_cliente %></td>
    <td><%= jornada.pilar %></td>
    <td><%= jornada.horas %></td>
    <td><%= jornada.incidencia %></td>
    <td><%= link_to edit_jornada_path(jornada) do %>
                 <i class="icon-pencil"></i>
          <% end %>

        <%= link_to  jornada, method: :delete, data: { confirm: '¿Está seguro?' } do 
          %>
                 <i class="icon-trash"></i>
          <% end %>

    </td>
  </tr>

<% end %>

</table>

<div class="form-actions">
<div class="row">
 <div class="span2 offset1">
 <%= link_to 'Nueva jornada', new_jornada_path  , :class => "btn" %></div>
</div>
</div>





